<header class="pb-3 mb-5 border-bottom bg-brown rounded shadow-sm p-3">
  <h1 class="h2 text-center mb-0 text-black fs-weight">Main Page</h1>
</header>

<main>
  <div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="card bg-gray">
            <a href="/part1">
              <div class="card-body">
                <p class="card-text"> Part 1 Assesment - Filter District Manager</p>
              </div>
           </a>
          </div>
        </div>
        <div class="col-md-5 col-sm-6">
          <div class="card bg-gray">
            <a href="/part2">
              <div class="card-body">
                <p class="card-text"> Part 2 Assesment - Draw Diamonds</p>
              </div>
           </a>
          </div>
        </div>
    </div>
  </div>
</main>
